.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}


@media (max-width: 800px) {
  #map {
      width: 100%; /* Width remains fixed */
  }
}

h1 {
  text-align: center;
  color: #282c34;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p, ul, li {
  text-align: justify;
  color:#282c34;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

img {
  min-width: 25%;
  max-width: 50%;
  height: auto;
}